.btn-size {
    width: 8%;
}
.btncolor{
    background-color:#7C4EE4 !important;

}
.black{
    color: black !important;
}
.text{
    color:  #7C4EE4 !important;
}
.white{
    color: white !important;
}
.btnwhite{
    background-color: white !important;
}
color{
    color: #7C4EE4 !important;
}